<!DOCTYPE html>
<html>
    <head>
        <title>Galvanize Reads</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <a href="/">
                <i class="fa fa-book logo"></i>
                <h1>Galvanize Reads</h1>
            </a>
        </header>
        <main>
            <nav class="side-navigation">
                <ul>
                    <li>
                        <a href="/books">
                            <i class="icon fa fa-bookmark"></i>
                            <h2>Books</h2>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/authors">
                            <i class="icon fa fa-user"></i>
                            <h2>Authors</h2>
                        </a>
                    </li>
                </ul>
            </nav>
            <section>
                {{{body}}}
            </section>
        </main>
    </body>
</html>
