<!DOCTYPE html>
<html>
    <head>
        <title>Galvanize Reads</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <a href="/">
                <i class="fa fa-book logo"></i>
                <h1>Galvanize Reads</h1>
            </a>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>
