p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.post {
  border: 1px solid rgba(000,000,000,0.2);
  padding: 10px;
  max-width: 650px;
}

.post > h2 {
  margin: 0;
  padding: 0;
}

/* Your Code Goes Under This Line */
