$black: #333;
$white: #fff;

$primary-color: #2E4172;
$lighter-color: #7886AB;
$light-color: #4F618E;
$dark-color: #162855;
$darkest-color: #061539;

$create-color: #236467;
$delete-color: hsl(0, 40%, 50%);
