extends layout

block content
  h1 Login
  form(action="/login" method="POST")
    label Name
      input(type="text")
    label Password
      input(type="password")
    input(type="submit" value="Login")
    
