extends layout
include player_partial.jade

block content
  .page-header
    h1= title
    h2 Hello #{user.email}
  .row
  each player in players
    .col-sn-6.col-md-4
      +player_template(player)
