<h1>Add a new Todo</h1>
<form action="javascript:void(0)" ng-submit="addTodo(todo)" name="todoForm">
  <div class="form-group" ng-class="{'has-error': todoForm.task.$invalid && !todoForm.task.$pristine}">
    <label for="task"  class="control-label" ></label>
    <input type="text" class="text-center form-control" name="task" ng-required="true" ng-model="todo.task" autofocus>
    <p class="help-block" ng-show="todoForm.task.$invalid && !todoForm.task.$pristine">
      Please enter a todo
    </p>
  </div>
  <div class="form-group">
    <input class="btn btn-success btn-lg" type="submit" value="Add Todo" ng-disabled="todoForm.$invalid">
  </div>
</form>
<h1>All your todos</h1>
<ul ng-repeat="todo in todos track by $index">
  <li>{{todo.task}}
    <button ng-click="toggleEditForm(todo)" class="btn btn-sm btn-info">Edit this Todo</button>
    <button class="btn btn-sm btn-danger" ng-click="removeTodo($index)">X</button>
  </li>
    <form ng-show="todo.editFormShowing" action="javascript:void(0)" ng-submit="editTodo($index, todo)">
      <input type="text" ng-model="todo.task" value="{{todo.task}}">
      <input type="submit" class="btn btn-sm btn-warning"value="Edit">
    </form>

</ul>