<div class="row">
  <div class="col-md-8">
    <p>
      Freegan jean shorts Portland Intelligentsia. Vegan fingerstache meditation, lomo tattooed tote bag American Apparel sriracha literally seitan Schlitz wayfarers bitters four loko twee. Post-ironic biodiesel Neutra direct trade, tousled typewriter forage. Disrupt small batch typewriter whatever mixtape, artisan seitan tilde American Apparel cronut. Trust fund 8-bit synth Portland, Carles kitsch vegan Brooklyn Etsy tofu PBR&B twee Godard 90's artisan. Bespoke iPhone hella, 3 wolf moon meggings trust fund Shoreditch. Butcher four dollar toast pug freegan, pork belly mumblecore Echo Park fap keffiyeh.
    </p>
    <p>
      Narwhal flexitarian four dollar toast Godard cardigan crucifix. Squid disrupt before they sold out quinoa. Etsy Shoreditch deep v Truffaut pug. Fingerstache banh mi next level, stumptown Shoreditch master cleanse 90's Brooklyn deep v Intelligentsia wolf. Cray Kickstarter street art, before they sold out Pitchfork church-key small batch Helvetica Pinterest Etsy Williamsburg. Tofu polaroid flannel, lomo fingerstache street art Bushwick before they sold out. Messenger bag selvage literally, seitan sustainable viral Austin PBR bitters cornhole slow-carb pop-up lomo lo-fi cliche.
    </p>
    <p>
      Sartorial XOXO literally bespoke chambray. Small batch gluten-free sartorial, Marfa Helvetica pork belly vegan actually tofu banjo vinyl. Meh hoodie crucifix actually banjo Wes Anderson. Fashion axe jean shorts organic banjo literally. Scenester Schlitz Banksy 90's. Art party PBR&B post-ironic plaid ugh shabby chic, sartorial semiotics 3 wolf moon asymmetrical dreamcatcher bitters. McSweeney's tousled mustache Bushwick.
    </p>
    <p>
      American Apparel 3 wolf moon four dollar toast Carles, Intelligentsia +1 freegan actually gastropub drinking vinegar Schlitz 8-bit semiotics Godard paleo. Dreamcatcher Bushwick craft beer, DIY put a bird on it Tumblr YOLO slow-carb Etsy direct trade Thundercats leggings. Meh cliche 8-bit, gastropub organic gluten-free tousled twee fixie blog bitters typewriter Truffaut keytar. 3 wolf moon hashtag forage four dollar toast. Viral seitan meggings Blue Bottle Echo Park irony gastropub literally small batch, wayfarers pop-up yr cronut. Ugh disrupt skateboard tousled, tote bag 8-bit bicycle rights stumptown biodiesel cornhole street art McSweeney's brunch art party direct trade. Dreamcatcher post-ironic quinoa, gentrify 90's migas bicycle rights.
      Oh. You need a little dummy text for your mockup? How quaint.
    </p>
    <p>
      I bet you’re still using Bootstrap too…
    </p>
  </div>
  <div class="col-md-4">
    <div class="text-muted">
      Comments go here
    </div>
  </div>
</div>
